:root {
    --black: #000;
    --white: #fff;
    --grey-1: #eee;
    --grey-2: #818181;
    --grey-3: #333;
    --grey-4: #f1f1f1;
    --grey-5: #ccc;
    --grey-6: #434343;
    --grey-7: #65414d;
    --grey-8:#383838;
    --orange-1: #F39800;
    --red-1: #D20A11;
    --cyan-1: #00ffff;
    --cyan-2:#adb5bd;
    --brown-1:#D20A11;
}