*{
    padding: 0;
    margin: 0;
    direction: rtl;
    text-decoration: none;
    list-style-type: none;
  }
  header .tophead{
    background-color: var(--grey-1);
  }
  .bottom-header .nav > a{
    font-size: .73rem;
    padding: 1rem 1.8rem;
  }
  .bottom-header .nav a{
    color:var(--black);
  }
  .bottomheader ul{
    position: relative;
  }
  /* ------------------------------------------------------قسمت اول لیست مگا منو از بخش محصولات----------------------- */
  /* --------------------------------medium size edition---------------- */
  .collapse-tap-1{
    background-image: url(../image/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .collapse .plus-span{
    fill: var(--grey-5);
    display: inline-block;
    width: 40px;
  }
  @media screen and (max-width: 575px) {
    .collapse-tap {
        padding: .75rem;
        margin-bottom: 0;
    }
  }
  .bottom-header{
    display: flex;
    padding: .8rem 7rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-9);
    position: relative;
    /* direction: ltr; */
  }
  .bottom-header .nav-link{
    color: var(--black);
    font-size: .8rem;
    padding: .3rem 1.5rem;
  }
  .bottom-header .active{
    position: relative;
  }
  .bottom-header .tab-hover{
    position: absolute;
    background-color: white;
    right: 0;
    padding: 2rem;
    z-index: 15;
    width: 100%;
    border-top: 1px solid var(--black);
    display: none;
  }
  .service:hover .tab-hover , .product:hover .tab-hover , .company:hover .tab-hover{
    display: block;
  }
  .product .dolar{
    background-image: linear-gradient(41deg, #0C3148 0%, #D20B10 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    overflow: hidden;
  }
  /* ---------------------------------------------بخش دوم قسمت مگامنو-------------- */
  .service .dolar{
    background-image: linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    overflow: hidden;
  }
  .service .apartman{
    background-image: url(apartman.png) , linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
  }
  .service .wallet{
    background-image: url(wallet.png) , linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
  }
  .company .dolar{
    background-image: linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    overflow: hidden;
  }
  .company .apartman{
    background-image: url(apartman.png) , linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
  }
  .company .wallet{
    background-image: url(wallet.png) , linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
  }
  .company .paper{
    background-image: url(paper.png) , linear-gradient(45deg, #31AA8D 0%, #80CD61 100%);
  }
/* -------------------------------------main----------- */
main .main-label a:hover{
    color: var(--white);
}
main .micro{
    background-image: url(../image/new-center-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12.5rem;
}
.micro h1{
    font-size: 70px;
}
main .f-h1{
    font-size: 55px;
    font-weight:900;
    word-spacing: 5px;
}
.hash a{
    color: var(--grey-2);
}
.hash a:hover{
    color: var(--black);
}
main .file{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
@media screen and (max-width:992px) {
    main .file{
        max-width: 90%;
    }
}
/* ------------------------------------footer */
footer{
    background-color: var(--grey-6);
  }
  .subfooter{
    max-width: 69.3rem;
    margin: auto;
    border-top: 1px solid var(--cyan-1);
    margin-top: 3rem;
  }
  .bottomfooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: var(--cyan-1);
  }
  .bottomfooter .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .face , .youtube , .linkedin , .insta{
    fill: var(--grey-7);
  }
  .policy a , .copyright , .followus{
    color: var(--grey-7);
  }
  .social .face:hover{
    fill: var(--yellow-1);
  }
  .social .youtube:hover{
    fill: var(--yellow-1);
  }
  .social .linkedin:hover{
    fill: var(--yellow-1);
  }
  .social .insta:hover{
    fill: var(--yellow-1);
  }
  .footer-title a:hover{
    color: var(--yellow-1);
  }
  @media screen and (max-width: 768px) {
    .footer-title .footer-comp-1 , .footer-title .footer-comp-2 {
        display: none;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1450px){
    .footer-title .footer-comp-1 , .footer-title .footer-comp-2 {
        display: block;
    }
  }
  .fixed-options{
    position: fixed;
    right: 0;
    bottom: 4rem;
    z-index: 10;
  } 
  .side-icons{
    position: fixed;
    right: -4rem;
    bottom: 8rem;
    transition: .4s;
  }
  .share-icon , .backup , .arrow , .facebook , .wechat , .watsapp , .vibe , .line , .message , .sub-share {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .arrow{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .arrow .arrow-up{
    width: 2rem;
    margin: 1rem;
    transition: .3s;
  }
  .arrow button{
    border: none;
  }
  /* .arrow .arrow-up{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  } */
  .arrow:hover .arrow-up{
    transform: scaleY(1.2);
    transition: .3s;
  }
  .backup{
    transition: .5s;
  }
  .backup:hover{
    filter: brightness(1.15);
    box-shadow: inset 0 0 15px -5px;
    transition: .5s;
  }
  .share-icon{
    background-color: #95D03A;
    box-shadow:inset 0 0 20px -10px;
  }
  .share-icon .share-svg{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .backup .headset{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .facebook-sub{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .watsapp .watsapp-sub{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .vibe .messenger{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .line .line-sub{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .message .message-sub{
    margin-right: 1rem;
    margin-top: .9rem;
    display: inline-block;
    width: 30px;
    fill: var(--white);
  }
  .backup{
    background-color: #95D03A;
  }
  .arrow{
    background-color: transparent;
  }
  .facebook{
    background-color: #4267b2;
  }
  .wechat{
    background-color: #4EC034;
  }
  .watsapp{
    background-color: #25d366;
  }
  .vibe{
    background-color: #448AFF;
  }
  .line{
    background-color: #00c300;
  }
  .message{
    background-color: #7d7d7d;
  }
  .sub-share{
    background-color: #95D03A;
  }
  .share-icon:hover .side-icons{
    right: 0;
    transition: .5s;
  }
  .sub-share , .share-svg{
    transition: .5s;
  }
  .sub-share:hover .share-svg{
    transform: translateX(10px);
  }
  .message , .message-sub{
    transition: .5s;
  }
  .message:hover .message-sub{
    transform: translateX(10px);
  }
  .line , .line-sub{
    transition: .5s;
  }
  .line:hover .line-sub{
    transform: translateX(10px);
  }
  .vibe , .messenger{
    transition: .5s;
  }
  .vibe:hover .messenger{
    transform: translateX(10px);
  }
  .watsapp , .watsapp-sub{
    transition: .5s;
  }
  .watsapp:hover .watsapp-sub{
    transform: translateX(10px);
  }
  .facebook , .facebook-sub{
    transition: .5s;
  }
  .facebook:hover .facebook-sub{
    transform: translateX(10px);
  }
  @media screen and (max-width: 575px) {
    .fixed-options {
        display: none;
    }
  }