.header h1 {
    color: var(--black);
    font-size: 3.125rem;
    font-family:font4;
    margin-top: 0.625rem;
}
.text-center {
    text-align: center !important;
   
    color:var(--black);
    margin: 3vh 0 1.5vh 0;
    text-align: center;
    display: block;

}
 .header p {   /*line-height: 1.5em;*/
    
    /*width:*/
    text-align:justify;
    font-size: large;
    font-family:font2 ;
    letter-spacing: 2px;
    width: 78.125rem;
    margin: 25px 40px 25px 3px;
}

.content .image .karizma {
    width: 100%;
    height:500px;
    vertical-align: middle;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    display: inline-block;
}
.end{
    
    color:var(--white) !important;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    text-align: center;
    padding: 100px 50px;
    font-size: 32px;
   }
    
.end.figcaption{
    color: var(--white);
    text-decoration-line: none;
    font-style:oblique;
    text-align:center;
    margin-top: 1rem;
    display: block;
     padding:  50px;
    font-size: 32px;
    font-family: font4;
}
    
.btn{
        display: inline-block;
        padding: 0.5em 2em;
        color:var(--white);
        text-decoration: none;
        border-radius:1.5625em;
        border-color: 2px solid var(--white);
        margin-top: 1rem !important;
        font-family: font3;
    }
    
.box{
    display: flex;

}
.box > div:first-child{
     flex: 0 0 6rem;
}
.box img{
    width: 100%;
    
}
.box p {
    color: #f39800;
    margin-bottom: 0.5rem;
    font-family: font2;
    width: 450px;
    margin: 1em;
    font-size: 1.5rem!important;
}
.result h2{
    margin-bottom: 0.5rem;
    font-family: font2;
    font-weight: 400;
    line-height: 1.2;
    font-size: 35px !important;
    text-align: right;
}
.result h3{
    text-align: right;
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: font3;
}
.about-section {
    padding: 25px;
    text-align: center;
    background-color: var(--white);
    border-radius: 2px;
    padding: 2rem 4rem;
    border: 1px solid #e5e5e5;
    margin: 2rem 0;
  }
@font-face {
    font-family:"font1";
    src: url('../fonts/CharismaTF-Bold.woff2');
   }
   @font-face {
    font-family:"font2";
    src: url('../fonts/CharismaTF-Regular.woff2');
   
  }
  @font-face {
    font-family:"font3";
    src: url('../fonts/CharismaTF-Light.woff2');
   
  }
  @font-face {
    font-family:"font4";
    src: url('../fonts/CharismaTF-ExtraBold.woff2');
   
  }
  .about-section img{
    width: 15px;
    height: 15px;
  }
  .about-section a{
    color:var(--black);
    font-family: font2;
    font-size: 20px
  }
   