main .storyImage {
    background-image: url("../img/story.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 41rem;
}

main .header h1 {
    color: var(--grey-3);
    font-weight: bold;

}

main .header .text-header {
    color: var(--grey-14);
}


main .box {
    display: flex;
    align-items: center;

}

main .box > div:first-child {
    flex: 0 0 4rem;
}

main .box img {
    width: 100%;
}

main .box .description {
    color: var(--orange-2);
    font-size: 1.1rem !important;
    margin: 0 1em 0 0;
    text-align: right;
}

.contactWrapper {
    padding: 5rem;
    background-image: url("../img/product-contactus-bg.jpg");
    background-size: 100%;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 3rem;
}
.contactWrapper:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.contactWrapper .container {
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1199px) {
    .storyImage {
        height: 25rem;
    }
}

@media screen and (max-width: 767px) {
    .storyImage {
        height: 15rem;
    }
}

