:root {
    --black: #000;
    --white: #fff;
    --grey-1: #eee;
    --grey-2: #818181;
    --grey-3: #333;
    --grey-4: #f1f1f1;
    --grey-5: #ccc;
    --grey-6: #434343;
    --orange-1: #F39800;
    --red-1: #D20A11;


}
