:root {
    --black: #000;
    --white: #fff;
    --grey-1: #eee;
    --grey-2: #818181;
    --grey-3: #333;
    --grey-4: #f1f1f1;
    --grey-5: #ccc;
    --grey-6: #434343;
    --grey-7: #adb5bd;
    --grey-8: #383838;
    --grey-9: #f2f2f2;
    --grey-10: #d2d2d2;
    --grey-11: #777;
    --grey-12: #cecece;
    --grey-13: #dbdbdb;
    --grey-14: #666;
    --grey-15: #999;
    --orange-1: #F39800;
    --orange-2: #f39800;
    --red-1: #D20A11;
    --cyan-1: #00ffff;
    --green-1: #95d03a;
    --green-2: #00c300;
    --green-3: #009B63;
    --yellow-1: #fe9b00;
    --blue-1: #343a40;


}
