.tophead{
    background-color:var(--grey-1);
    min-width: 992px;
}
.topheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .8rem 7rem;
}
.tophead .chines-written{
    display: flex;
}
.tophead .chines-written a{
    text-decoration: none;
    margin: .2rem;
    font-size: .8rem;
    color: var(--grey-5);
}
.tophead .chines-written a:nth-child(3){
    color: var(--black);
    font-weight: bold;
}
.tophead .chines-written svg{
    height: 1.3rem;
}
.tophead .btn{
    direction: ltr;
    background: none;
    border: 0;
    color: var(--grey-2);
    font-size: .85rem;
}
.tophead .btn:hover{
    background: none;
}
.tophead .dropdown-menu{
    text-align: left;
    font-size: .86rem;
}
/* ------------------------------------------پایان بخش top header--------------- */
/* ---------------------------------------------بخش bottom header  مگا منو   و----------- */
.bottom-header{
    display: flex;
    padding: .8rem 7rem;flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-9);
}
.bottom-header .nav-link{
    color: var(--black);
    font-size: .8rem;
    padding: .3rem 1.5rem;
}
.bottom-header .active{
    color: white;
    background-color: var(--orange-1);
    border-radius: 25px;
    position: relative;
}
.bottom-header .form-log a{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: .8rem;
    padding: 1rem 0;
}
.bottom-header .form-log{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 3rem;
}
.bottom-header .login-form{
    display: none;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    background-color: var(--white);
    border-top: 1px solid var(--black);
    width: 100%;
    right: 0;
    z-index: 4;
}
.bottom-header .login-nav:hover .login-form{
    display: flex;
}
.login-comp-1 h6{
    width: 20rem;
    text-align: left
}
.login-comp-1{
    margin-right: none;
    padding: 1rem;
    border-right: 1px solid var(--grey-5);
}
/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------main start------------------------------------ */
main .main-label a{
    text-decoration: none;
    color: var(--white);
    margin: .5rem;
    font-size: .8rem;
}
main .main-label{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;padding: .7rem;
    border-radius: 10px;
    right: 7rem;
}
main .main-label a:hover{
    color: var(--black);
}
/* ------------------------------------------------------------------------------footer--------------------------------- */
footer{
    background-color: var(--grey-6);
}
.mainfooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.mainfooter a{
    text-decoration: none;
}
.mainfooter a:hover{
    color: var(--brown-1);
}
.sub {
    text-align: left;
    padding: 1rem;
}
.sub h2{
    font-size: 1.3rem;
}
.sub h2 a{
    color:#adb5bd;
}
.subul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.subul li a{
    color: var(--white);
}
.subul li{
    padding: .7rem 0;
}
.sublogo .up{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color:#adb5bd ;
}
.botlogo .sublogo{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--grey-8);
}
.mainfooter .twice-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--cyan-1);
}
.subfooter{
    max-width: 69.3rem;
    margin: auto;
    border-top: 1px solid var(--cyan-1);
    margin-top: 13rem;
}
.bottomfooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: var(--cyan-1);
}
.bottomfooter .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.social a{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 15px;
    background-color: var(--cyan-1);
    margin: .5rem;
}
.social a:hover{
    background-color:var(--brown-1) ;
}
.subfooter .policy{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.subfooter .terms{
    display: flex;
    margin: .5rem .8rem;
    font-size: .9rem;
    border-right: 1px solid var(--cyan-1);
    padding-right: 1rem;
}
.policy .lastterm{
    border: none !important;
}
.policy a{
    text-decoration: none;
    color: var(--cyan-1);
}
.policy a:hover{
    color: var(--brown-1);
}

/* ------------------------------------------------------- */
.fixed-options{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.side-icons{
    position: fixed;
    right: -4rem;
    bottom: 8rem;
    transition: .4s;
}
.share-icon , .backup , .arrow , .facebook , .wechat , .watsapp , .vibe , .line , .message , .sub-share {
    width: 4rem;
    height: 4rem;
    margin: 0;
}
.share-icon{
    background-color: #95D03A;
    box-shadow:inset 0 0 20px -10px;
}
.sub-share img{
    width: 2rem;
    height: 2rem;
}
.share-icon:hover .side-icons{
    right: 0;
    transition: .4s;
}
.backup{
    background-color: #95D03A;
}
.arrow{
    background-color: white;
}
.facebook{
    background-color: #4267b2;
}
.wechat{
    background-color: #4EC034;
}
.watsapp{
    background-color: #25d366;
}
.vibe{
    background-color: #448AFF;
}
.line{
    background-color: #00c300;
}
.message{
    background-color: #7d7d7d;
}
.sub-share{
    background-color: #95D03A;
}
/* @media screen and (min-width= 1200){
    .mainfooter .submain{
        max-width: 18.1rem;
        max-height: 19rem;
    }
}
@media screen and ( max-width= 1199) and ( min-width= 992){
    .mainfooter .submain{
        max-width: 15rem;
        height: 20rem;
    }
} */
