@font-face {
    font-family: 'CharismaTF';
    src: url('../fonts/CharismaTF-Regular.woff2') format('woff2'),
    url('../fonts/CharismaTF-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'CharismaTF';
    src: url('../fonts/CharismaTF-Bold.woff2') format('woff2'),
    url('../fonts/CharismaTF-Bold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'CharismaTF';
    src: url('../fonts/CharismaTF-ExtraBold.woff2') format('woff2'),
    url('../fonts/CharismaTF-ExtraBold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'CharismaTF';
    src: url('../fonts/CharismaTF-Light.woff2') format('woff2'),
    url('../fonts/CharismaTF-Light.woff') format('woff');
    font-weight: 300;
}

body {
    font-family: 'CharismaTF', sans-serif;
    font-weight: 400;
}
