.storyImage {
    background-image: url("../img/story.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 41rem;
}
main .main-label a:hover{
    color: var(--white);
}
main .contactWrapper {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5rem;
    margin-top: 3rem;
}
main .text-secondary {
    color: var(--grey-14) !important;
}
@media screen and (max-width: 1199px) {
    .storyImage {
        height: 25rem;
    }
}

@media screen and (max-width: 767px) {
    .storyImage {
        height: 15rem;
    }
}
