
.main .border .plus-box {
    background-image: linear-gradient(41deg, #0C3148 0%, #D20B10 100%);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;


}
.main .header h1 {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}
.main .border {
    background: var(--white);

}

.main .boxText > div:first-of-type {
    flex: 0 0 1rem;
}
.main .boxText > div:last-of-type {
    padding-right: 0.625rem;
}
.main .boxText > div:last-of-type p {
    margin: 0;
    font-size: 1.1rem;
}

.main .boxText .icon {

    fill: #f39800;
}

.main .rounded-circle {
    border-radius: 50% !important;
}


.main h1, .main h2 {
    font-family: 'CharismaTF', sans-serif;
    color: var(--grey-3);
}
.main h2 {
    margin-bottom: 15px;
}
.main .content1 {
    color: var(--black);
    line-height: 1.2;
    margin-bottom: 0.5rem;
    display: block;
    text-align: right !important;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.main .myImage {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}

.main .myImage img {
    width: 100%;
}

.main .myImage:hover img {
    transform: scale(1, 1);

}

.main .content {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: var(--white);
    color: var(--white);
    opacity: 0;
    transition: .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main .myImage:hover .content {
    opacity: 1;
}

.main .content a {
    background-color: var(--red-1);
    color: var(--white);
    padding: 10px 15px;
    transition: .1s ease-in-out;
    border-radius: 25px;
    display: inline-block;
}

.main .body {
    background-color: var(--grey-1);
}

.main .body .box {
    background-color: var(--white);
    padding: 20px 20px 132px;
    position: relative;
    min-height: 450px;
    height: 100%;

}
